.header {
  grid-area: h;
  background-color: #AEFAFF;
  border: 2px solid #00D1DE;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
  color: #000000;
  text-decoration: none;
}

.header:hover {
  background-color: #fdf8ff;
  border: 2px solid #f59aff;
}

.header img {
  width: 60px;
  margin-right: 20px;
}